# Sensitive credentials
config.json
service-account.json

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
